
{% include head/mobile.html %}

<body>

<!-- SMALL -->
<section class="show-for-small-up">
    {% include nav/nav-mobile.html %}
    {% include header/header.html %}
<div class="static-banner-small show-for-small-only" style="background-image: url('{{ site.url }}/img/blog/{{ page.image-small }}');">
    <br>
    <br>
    <br>
    <div class="row">
                <h1 class="post-title-small">{{ page.title }}</h1>
    </div>
</div>

	<!-- BLOG POST ENTRY -->
	<div class="container">
	    <div class="row">
	        <section class="small-12 medium-10 columns small-centered">
	            <h3 class="post-date-small show-for-small-only">{{ page.long-date }}</h3>
	            <hr>
	            <article class="post">                
	                <div class="post-content">
	                    {{ content }}
	                </div><!-- /.post-content -->                
	                <hr>
	            </article><!-- /.post -->       
	            <ul class="inline-list">
	                <li class="category-tag">Tags:</li>
	                <li class="category-tag"><a href="{{ site.url }}/{{ page.category-link }}">{{ page.category }}</a></li>
	                <li class="category-tag"><a href="{{ site.url }}/{{ page.category-link-2 }}">{{ page.category-2 }}</a></li>
	                <li class="category-tag"></li>
	            </ul>
				<div id="page-navigation"> 
				        <div class="clear">&nbsp;</div> 
				        <div class="left"> 
				        {% if page.previous.url %} 
				                <a href="{{page.previous.url}}" title="Previous Post: 
				{{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
				        {% endif %} 
				        </div> 

				        <div class="right"> 
				        {% if page.next.url %} 
				                <a href="{{page.next.url}}" title="next Post: 
				{{page.next.title}}">{{page.next.title}} &raquo; </a> 
				        {% endif %} 
				        </div> 
				        <div class="clear">&nbsp;</div> 
				</div>
	        </section><!-- /.post-main -->
	    </div><!-- /.row -->       
	</div><!-- /.container -->

    {% include nav/nav-mobile-end.html %}
</section><!-- / SMALL -->


<!-- COMMENTS -->
<section class="row">
	<div class="small-12 medium-10 columns small-centered">     
	    {% include posts/comments.html %}
	</div>
</section>

{% include footer/footer.html %}

{% include scripts/post-default.html %}

</body>