@import "../settings/_settings.scss";





body {
	
	@include media($width-1070) {
		background: red; 
	}

	@include media($width-970) {
		background: purple;
	}

	@include media($width-770) {
		background: blue; 
	}

	@include media($width-610) {
		background: yellow; 
	}

	@include media($width-480) {
		background: green; 
	}

	@include media($width-320) {
		background: purple;
	}
}


