
// Typography Variables
$text-color: #333;
$link-color: #222;
$hr-color: #ccc;

$baseline: 1.4rem; //22px

$body-font-family: 'Ubuntu', sans-serif;
$header-font-family: 'Knul ExtraBold', sans-serif;
$header-font-weight: 700;
$body-font-weight: 400;

$dark-text-shadow: rem(1) rem(2) rem(2) #000;
$light-text-shadow: rem(1) rem(2) rem(2) #fff;
$p-size: em(18); 

$h1-size: em(50); 
$h2-size: em(37); 
$h3-size: em(28); 
$h4-size: em(21); 
$h5-size: em(16); 
$h6-size: em(12); 



// Hexadecimal Color Variables
$dark-red: #c74d5a;
$light-blue: #58c4be;
$lime-green: #c8dd64;
// 200,221,100
$light-red: #f16a6c;
$dark-grey: #222;
$dark-blue: #556371;
// 85,99,113



