video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url('../img/vid/downtown-panorama(large)2.jpg') no-repeat;
}

.bgimg {
	background: url('../img/vid/downtown-panorama(large).jpg') no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
}

.post-title-video {
	color: #333333;

		small {
			color: #555555;
		}
}

