

.excerpt {
	color: #6f6f6f;
	font-size: .95rem;
}

ul.post-list {
	li {
		a {
			font-family: 'Ubuntu';
		}
	}
}

ul.post-list-banner {
	li {
		// width: 1000px;
		height: 200px;
		margin-bottom: 23px;

		a {
			font-family: 'Ubuntu';
		}
	}
}