<div class="contain-to-grid sticky">
	<nav class="top-bar" data-topbar role="navigation">

	<ul class="title-area">
		<li class="name">
			<h1></h1>
		</li>
		<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>

		<section class="top-bar-section">
			<ul class="left">
				<li><a href="{{ site.baseurl }}">Home</a></li>
				<li class="has-dropdown"><a href="#">Articles</a>
					<ul class="dropdown">
						<li><a href="{{ site.baseurl }}blog/coding">Coding</a></li>
						<li><a href="{{ site.baseurl }}blog/cool-stuff">Cool Stuff</a></li>
						<li><a href="{{ site.baseurl }}blog/personal">Personal</a></li>
					</ul>
				</li>
			</ul>
		</section>
		
	</nav>
</div>
