<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <div class="tab-bar">

            <div class="left-small">
            <a role="button" class="left-off-canvas-toggle menu-icon" ><span></span></a>
            </div>

            <div class="right tab-bar-section">
                <h1 class="title"></h1>
            </div>

        </div>

        <div class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Navigation</label></li>
            <li><a href="{{ site.baseurl }}">Home</a></li>
            <li class="has-submenu"><a href="#">Articles</a>
                <ul class="left-submenu">
                    <li class="back"><a href="#">Back</a></li>
                    <li><label>Articles</label></li>
                    <li><a href="{{ site.baseurl }}blog/coding">Coding</a></li>
                    <li><a href="{{ site.baseurl }}blog/cool-stuff">Cool Stuff</a></li>
                    <li><a href="{{ site.baseurl }}blog/personal">Personal</a></li>
                </ul>
            </li>
          </ul>
        </div>
        
        <div class="main-section">