<div class="contain-to-grid sticky nav-light">
	<nav class="top-bar nav-light" data-topbar role="navigation">

		<section class="top-bar-section">
			<ul class="left">
				<li><a href="{{ site.baseurl }}">Home</a></li>
				<li class="has-dropdown"><a href="#">Articles</a>
					<ul class="dropdown">
						<li><a href="{{ site.baseurl }}blog/coding">Coding</a></li>
						<li><a href="{{ site.baseurl }}blog/cool-stuff">Cool Stuff</a></li>
						<li><a href="{{ site.baseurl }}blog/personal">Personal</a></li>
					</ul>
				</li>
			</ul>
		</section>
		
	</nav>
</div>