<footer class="container footer-container">
	<div class="row footer-content">
		<div class="medium-3 columns footer-widget snc-footer-widget">			
			<div class="snc-link-footer">
				<p><a href="http://studioncreations.com" target="_blank" title="Studio N Creations" style="text-decoration: none;">need a website?<img src="{{ site.baseurl }}img/footer/studioncreations.png" alt="Studio N Creations" class="snc-logo-footer"></a></p>
			</div>
			<div class="snc-link-footer-hover">
				<p><a href="http://studioncreations.com" target="_blank" title="Studio N Creations" style="text-decoration: none;">need a website?<img src="{{ site.baseurl }}img/footer/studioncreations-hover.png" alt="Studio N Creations" class="snc-logo-footer"></a></p>
			</div>
		</div>
		<div class="medium-3 medium-offset-6 columns footer-widget">
			<p>everything &copy; <a href="{{ site.baseurl }}blog/personal/who-is-this-guy.html">me</a> and all that jazz</p>
		</div>
	</div>
</footer>
