@font-face {
  font-family: 'Knul ExtraBold';
  src: url('knul.eot'); /* IE9 Compat Modes */
  src: url('knul.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('knul.woff') format('woff'), /* Modern Browsers */
       url('knul.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('knul.svg#bd94440c62702be187ab1afc5afdee26') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

